page-bill-info {
	.address{ 
		padding: 0;
		margin: 15px 0;
		border-bottom: 1px solid #f1f1f1;
		li{
			text-align: left;
			h4, h5, p{
				display: inline-block;
				margin-top: 0;
			}
		}
		p{
			text-align: left !important;
			margin-bottom: 5px;
			padding-left: 5px;

		}
	}
	.hidden{
		display: none;
	}
	.visible{
		display: block;
	}

}
